<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">L E M O N</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class = "nav">
    <li class="nav-item active ">
      <a class="nav-link text-white" href="#">HOME<span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item dropdown ">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        NEW RELEASES
      </a>
      <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink ">
        <a class="nav-link text-dark" routerLink ="['/korea']" (click)= "changeToKorea() ">K-POP</a>
        <a class="nav-link text-dark" routerLink ="['/inter']" (click)= "changeToInter()">INTERNATIONAL</a>
      </div>
    </li>
    </ul>
  </div>
  <ul class = "nav justify-content-end">
     <!--<a class="nav-link" href="#" (click)="changeToLogin()">LOGIN<span class="sr-only">(current)</span></a>-->
    <a class="nav-link text-white " routerLink ="['/login']" (click)="changeToLogin()">LOGIN </a>
    
    
  </ul>
</nav> 
