<h2 style=text-align:center>
  NEW RELEASE K-POP</h2>
<div class="container ">
  <div class="card text-center">

    <table class="table table-hover  table-secondary">
      <thead class=thead-dark>
        <tr>
          <th scope="col">#</th>
          <th scope="col">SONG</th>
          <th scope="col">ARTIST</th>
          <th scope="col">ALBUM</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let music of list;index as i">
          <th scope="row">{{music.songname}}</th>
          <td>{{music.artist}}</td>
          <td>{{music.album}}</td>
        </tr>
      </tbody>
    </table>