<h2 style=text-align:center>NEW RELEASE INTERNATIONAL</h2>

<div class="container">
  <div class="card text-center">
      
<table class="table table-hover table-secondary">
  <thead class=thead-dark>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SONG</th>
      <th scope="col">ARTIST</th>
      <th scope="col">ALBUM</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>Thornton</td>
      <td>@twitter</td>
    </tr>
    <tr>
    <th scope="row">4</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
  <th scope="row">5</th>
  <td>Mark</td>
  <td>Otto</td>
  <td>@mdo</td>
</tr>
<tr>
<th scope="row">6</th>
<td>Mark</td>
<td>Otto</td>
<td>@mdo</td>
</tr>
<tr>
<th scope="row">7</th>
<td>Mark</td>
<td>Otto</td>
<td>@mdo</td>
</tr>
<tr>
<th scope="row">8</th>
<td>Mark</td>
<td>Otto</td>
<td>@mdo</td>
</tr>
<tr>
<th scope="row">9</th>
<td>Mark</td>
<td>Otto</td>
<td>@mdo</td>
</tr>
<tr>
<th scope="row">10</th>
<td>Mark</td>
<td>Otto</td>
<td>@mdo</td>
</tr>
  </tbody>
</table>

